S -> programInit
programInit -> programHeader SEMICOLON block COLON
programHeader -> PROGRAM IDENTIFIER
programHeader -> PROGRAM IDENTIFIER LEFT_PAREN programParameters RIGHT_PAREN
programParameters -> identifierList

block -> declarationPart statementPart 
declarationPart -> 
declarationPart -> labelDeclarationPart
declarationPart -> constantDeclarationPart
declarationPart -> resourcestringDeclarationPart
declarationPart -> typeDeclarationPart
declarationPart -> variableDeclarationPart
declarationPart -> threadVariableDeclarationPart
declarationPart -> procedureFunctionDeclarationPart
declarationPart -> declarationPart

labelDeclarationPart-> LABEL labelList SEMICOLON
labelList -> label 
labelList -> label COLON labelList

constantDeclarationPart -> CONST constantList 
constantList -> constantDeclaration 
constantList -> typedConstantDeclaration
constantList -> constantDeclaration constantList
constantList -> typedConstantDeclaration constantList

resourcestringDeclarationPart -> resourcestring stringConstantDeclarationList
stringConstantDeclarationList -> stringConstantDeclaration
stringConstantDeclarationList -> stringConstantDeclaration stringConstantDeclarationList

auxRule3 ->  COMMA indexType
auxRule3 ->  COMMA indexType auxRule3
typeList ->  indexType auxRule3
typeList ->  indexType


IDENTIFIER clause
usesClause-> IDENTIFIER in stringLiteral SEMICOLON

S -> expression
expression -> simpleExpression
expression -> simpleExpression operatorsAdding simpleExpression 
parenExpression -> LEFT_PAREN expression RIGHT_PAREN
simpleExpression -> term
simpleExpression -> PLUS
simpleExpression -> MINUS
simpleExpression -> OR
simpleExpression -> XOR
operatorsAdding -> LESS_THAN
operatorsAdding -> LESS_THAN_EQUAL
operatorsAdding -> GREATER_THAN
operatorsAdding -> GREATER_THAN_EQUAL
operatorsAdding -> EQUAL
operatorsAdding -> ANGLE_BRACKETS
operatorsAdding -> IN
operatorsAdding -> IS
term -> factor
term -> operatorsMultiplication
operatorsMultiplication -> MULTIPLY
operatorsMultiplication -> DIVIDE
operatorsMultiplication -> DIV
operatorsMultiplication -> MOD
operatorsMultiplication -> AND
operatorsMultiplication -> SHL
operatorsMultiplication -> SHR
operatorsMultiplication -> AS
factor -> parenExpression
factor -> variableReference
factor -> functionCall
factor -> unsignedConstant
factor -> NOT factor
factor -> SIGNAL factor
factor -> setConstructor
factor -> valueTypecast
factor -> addressFactor
unsignedConstant -> UNSIGNED_NUMBER
unsignedConstant -> CHARACTER_STRING
unsignedConstant -> constantIdentifier
unsignedConstant -> NIL
functionCall -> auxFunction
functionCall -> auxFunction actualParameterList
auxFunction -> functionIdentifier
auxFunction -> methodDesignator
auxFunction -> qualifiedMethodDesignator
auxFunction -> variableReference
actualParameterList -> LEFT_PAREN parameterList RIGHT_PAREN
parameterList ->
parameterList -> expression
parameterList -> COLON
setConstructor -> LEFT_BRACKET constructor RIGHT_BRACKET
constructor -> 
constructor -> setGroup
constructor -> COLON
setGroup -> expression
setGroup -> expression DOT_DOT expression
valueTypecast -> typeIdentifier parenExpression






